In [1]:
import numpy as np
import pandas as pd
from wrangle_online_retail import get_online_retail
from wrangle_online_retail import clean_online_retail
#from wrangle_online_retail import prep_online_retail

In [2]:
df = pd.read_excel('Online Retail.xlsx')

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [4]:
df.CustomerID.nunique()

4372

In [8]:
df.InvoiceNo.nunique()

25900

In [9]:
df.Description.nunique()

4223

In [5]:
df.shape

(541909, 8)

In [7]:
df.Country.nunique()

38

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  datetime64[ns]
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 33.1+ MB

In [3]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [4]:
df = df[pd.notnull(df['CustomerID'])]

In [5]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

In [6]:
df = df[df['Quantity'] > 0]

In [7]:
df.shape

(397924, 8)

In [8]:
df.Quantity.value_counts().sort_index()

1        73314
2        58003
3        26948
4        32183
5         8150
         ...
4300         1
4800         1
12540        1
74215        1
80995        1
Name: Quantity, Length: 302, dtype: int64

In [9]:
df.sort_values('Quantity')

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
213209,555524,23173,REGENCY TEAPOT ROSES,1,2011-06-05 11:37:00,9.95,16923.0,United Kingdom
171892,551471,85199S,SMALL HANGING IVORY/RED WOOD BIRD,1,2011-04-28 16:40:00,0.42,16370.0,United Kingdom
171894,551471,22083,PAPER CHAIN KIT RETROSPOT,1,2011-04-28 16:40:00,2.95,16370.0,United Kingdom
93808,544312,47566B,TEA TIME PARTY BUNTING,1,2011-02-17 14:26:00,4.95,17841.0,United Kingdom
171895,551471,22558,CLOTHES PEGS RETROSPOT PACK 24,1,2011-04-28 16:40:00,1.65,16370.0,United Kingdom
...,...,...,...,...,...,...,...,...
206121,554868,22197,SMALL POPCORN HOLDER,4300,2011-05-27 10:52:00,0.72,13135.0,United Kingdom
421632,573008,84077,WORLD WAR 2 GLIDERS ASSTD DESIGNS,4800,2011-10-27 12:26:00,0.21,12901.0,United Kingdom
502122,578841,84826,ASSTD DESIGN 3D PAPER STICKERS,12540,2011-11-25 15:57:00,0.00,13256.0,United Kingdom
61619,541431,23166,MEDIUM CERAMIC TOP STORAGE JAR,74215,2011-01-18 10:01:00,1.04,12346.0,United Kingdom
540421,581483,23843,"PAPER CRAFT , LITTLE BIRDIE",80995,2011-12-09 09:15:00,2.08,16446.0,United Kingdom

In [19]:
(df.Quantity < 0).mean()

0.021888803403887137

Feature engineering ideas

- frequency/number of orders

- total money spent

- recency of orders

- avg time between orders

- number of unique items ordered

- avg value of individual order

- avg number of items per order

Project Parts - 

- Data Acquisition

- Data cleaning

- explore weighting variables for clustering

- k means elbow plot

- k means modeling

- description of customer groups 

    - identify most popular items by cluster
    
    - identify other important cluster features - maybe avg quantity of items per order etc

- takeaways

In [10]:
def clean_online_retail(df):
    df = df[pd.notnull(df['CustomerID'])]
    df = df[df['Quantity'] > 0]
    return df

---

In [2]:
df = get_online_retail()
df = clean_online_retail(df)
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom

In [3]:
df.shape

(397924, 8)